


<div class="footer">
    <div class="container-body">

        <div class="footer-item">
            <div class="footer-logo-icon">
                <a class="footer-logo" href="/">
                    <img src="./assets/img/foot_logo.png" alt="Footer Logo" />
                </a>
                <div class="footer-icons">
                    <div class="footer-icon facebook">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="footer-icon instagram">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="footer-icon telegram">
                        <a href="#">
                            <i class="fab fa-telegram-plane"></i>
                           
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-item">
            <h3>ИНФОРМАЦИЯ</h3>
            <div class="footer-item-links">
                <a href="#">Все курсы</a>
                <a href="#">Мои курсы</a>
                <a href="#">Домашние задания</a>
                <a href="#">Результаты учеников</a>
                <a href="#">О компании</a>
            </div>
        </div>
        <div class="footer-item">
            <h3>КОНТАКТЫ</h3>
            <div class="footer-item-links">
                <a href="#">+998 98 369 90 69</a>
               
                <a href="#">info@uranusinvest.com</a>
                <a href="#">
                    Location
                    &nbsp;
                    <i style="color:#949393;" class="fas fa-map-marker-alt"></i>
                </a>
            </div>
        </div>
       

    </div>
    <div class="footer-bottom">
        <p>© 2021 Uranus Invest </p>
    </div>
</div>




@code {

}










