@using Full.Client.Service
@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/"> <img src="/assets/img/logo.png" alt="Logo" /></a>
        </div>
        <div class="menu">
            <a class="menu_item" @onclick="ToCourses">Все курсы</a>
            <a class="menu_item" @onclick="ToMyCourses">Мои курсы</a>
            <a class="menu_item" @onclick="ToHomeTask">Домашние задания</a>
            <a class="menu_item" @onclick="ToAbout">О нас</a>
            <a class="menu_item" @onclick="ToContact">Контакты</a>
        </div>
        <div class="lignin_signup">

            @*@if (!string.IsNullOrEmpty(UserEmail))
            {
                <a class="signin">@UserEmail</a>
                <a @onclick="LogOut" class="logout"> &nbsp;Logout</a>
            }
            else
            {*@
                <a @onclick="ToLogin" class="signin">Войти</a>
                <a @onclick="ToRegistration" class="signup">Регистрация</a>



            @*}*@


        </div>
    </div>
</header>

@code {


    private string UserEmail = String.Empty;
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {

        var email = await LocalStorageService.GetEmailFromLocalStorage();
        UserEmail = email;
    }




    void ToCourses()
    {

        NavigationManager.NavigateTo("/allcourses");
    }


    void ToMyCourses()
    {

        NavigationManager.NavigateTo("/mycourses");
    }

    void ToHomeTask()
    {

        NavigationManager.NavigateTo("/hometask");
    }

    void ToAbout()
    {

        NavigationManager.NavigateTo("/about");
    }


    void ToContact()
    {

        NavigationManager.NavigateTo("/contact");
    }

    void ToLogin()
    {

        NavigationManager.NavigateTo("/login");
    }

    void ToRegistration()
    {

        NavigationManager.NavigateTo("/registration");
    }


    void LogOut()
    {
        LocalStorageService.LogOut();
        NavigationManager.NavigateTo("/");
    }
}







