@page "/password"
@using Full.Client.DTO
@inject HttpClient Http
@inject NavigationManager NavigationManager





<PageTitle>Password</PageTitle>
<div class="registration">
    <div class="container-s registration__container">
        <div class="registration__fields">
            <h1>Сброс пароля</h1>
            <p>Введите свой адрес почты для восстановления пароля</p>
            <p>Инструкции по сбросу пароля будут отправлены на ваш адрес электронной почты</p>
            <input type="email" placeholder="Email" @bind="email.Email">
            <a class="passwordNewSendLogin" @onclick="OnValidSubmit">Отправить</a>
        </div>
    </div>
</div>

@code {

    private EmailDTO email = new EmailDTO();

    async System.Threading.Tasks.Task OnValidSubmit()
    {
        var response = await Http.PostAsJsonAsync("/api/User/email", email);
        NavigationManager.NavigateTo("/login");
    }

}
